kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx
  # Labels for the deployment
  labels:
    app: nginx
    tier: frontend
    purpose: deployment
spec:
  # Number of desired pod replicas
  replicas: 3
  selector:
    matchLabels:
      app: nginx
      tier: frontend
      purpose: deployment
  # Pod template
  template:
    metadata:
      labels:
        app: nginx
        tier: frontend
        purpose: deployment
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  type: LoadBalancer
  selector:
    app: nginx
    tier: frontend
    purpose: deployment
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30007
